
<div class="row-fluid">
  <div class="col-xs-12">
    <h3>Dina efterfester</h3>
    <div class="media" ng-repeat="party in myParties">
      <div class="pull-left" href="#">
        <img style="width: 200px;" ng-src="{{party.image.link}}">
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{party.description}}</h4>
        <a href="#/efterfest/{{party.$id}}">Visa</a>

      </div>
    </div>

  </div>
  <div class="col-xs-4">
    <button class="btn btn-primary btn-lg btn-block logout" ng-click="logout();">Logga ut</button>
  </div>
</div>
