

<div class="row">
  <div class="col-sm-8">

    <div style="margin-bottom: 20px; ">
      <img style="width: 100%;" ng-show="party.image" ng-src="{{party.image.link}}"/>
    </div>

    <label>Beskrivning:</label>
    <p>{{party.description}}</p>

    <label>Kontakt:</label>
    <p>{{party.contact}}</p>

  </div>

  <div class="col-sm-4">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>

      <ui-gmap-marker coords="party.coords" idkey="5">
      </ui-gmap-marker>

    </ui-gmap-google-map>

  </div>
</div>

<p>
  <a href="#/redigera/{{party.$id}}" ng-show="party.creator === user.uid">Redigera</a>
</p>
