
<div class="row">
  <div class="col-sm-8">

    <div style="margin-bottom: 20px; ">
      <img style="width: 100%;" ng-show="party.image" ng-src="{{party.image.link}}"/>
    </div>

    <label>Beskrivning:</label>
    <p>{{party.description}}</p>

  </div>

  <div class="col-sm-4">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>

      <ui-gmap-marker coords="party.coords" idkey="5">
      </ui-gmap-marker>

    </ui-gmap-google-map>

  </div>
</div>

<p>
  <a href="#/redigera/{{party.$id}}" ng-show="party.creator === user.uid">Redigera</a>
</p>




<h3 ng-show="!sentRequest">Vill du komma? skriv ett meddelande!</h3>

<div ng-show="!user">
  <button ng-click="login()" class="btn btn-primary btn-block">Logga in med Facebook</button>
</div>

<div ng-show="user">
  <div ng-show="sentRequest">
    <strong>Ditt meddelande:</strong>
    <p>
      {{sentRequest.message}}
    </p>
    <button ng-click="removeRequest()" class="btn btn-danger btn-xs">Ta bort</button>
  </div>


  <div ng-show="!sentRequest">
    <div class="form-group">
      <label>Meddelande</label>
      <textarea class="form-control" rows="3" ng-model="request.message"></textarea>
    </div>

    <button style="margin-top: 20px;" class="btn btn-primary" ng-click="saveRequest()">Skicka meddelande</button>
  </div>

</div>
